body {
  width: 100%;
}

#exportBtn {
  float: right;
  margin-right: 5%;
}

#menu {
  float: left;
  width: 25%;
  height: 800px;
  margin: 0 auto;
  position: fixed;
  top: 5%;
  overflow: auto;
}

#menu ul {
  list-style: none;
}

#menu ul li a {
  color: black;
  text-decoration-line: none;
}

#menu ul li a:hover {
  cursor: pointer;
  color: blue;
}

#export_word {
  float: left;
  width: 40%;
  margin-bottom: 50px;
  position: relative;
  left: 30%;
}

h2, h3, h4 {
  cursor: pointer;
}

.bg {
  background-color: rgb(173, 216, 230);
}

tr {
  height: 30px;
  font-size: 14px;
}

td {
  padding-left: 0.5em;
}

.resp td {
  width: 50%;
}

.api td {
  width: 25%;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 26px;
  line-height: 1px;
  text-align: center;
  background: #eee;
}

.footer p {
  color: #666;
  font-size: 14px;
}